<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
	<footer class="page-footer bg-light" th:fragment="footer">
		<div class="container-fluid mx-0">
			<div class="footer-bottom">
				<ul class="footer-bottom-links justify-content-md-center">
					<li><a href="#">Đăng quảng cáo</a></li>
					<li><a href="#">Kiếm tiền online</a></li>
					<li><a href="#">Video</a></li>
					<li><a href="#">Hình ảnh</a></li>
					<li><a href="#">Banner</a></li>
					<li><a href="#">Quảng cáo</a></li>
					<li><a href="#">Thương mại điện tử</a></li>
					<li><a href="#">Thanh toán</a></li>
				</ul>
				<p class="axil-copyright-txt justify-content-md-center">© 2020.
					All rights reserved by Prince.</p>
			</div>
		</div>
	</footer>
</body>
</html>