<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Prince-forgot password</title>
<link
	href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap"
	rel="stylesheet">
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
	rel="stylesheet" type="text/css" />
<link rel="icon" type="image/png" sizes="96x96"
	th:href="@{/images/favicon-96x96.png}">
<link rel="manifest" th:href="@{/images/manifest.json}">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage"
	th:content="@{/images/ms-icon-144x144.png}">
<meta name="theme-color" content="#ffffff">
<link rel="stylesheet" type="text/css"
	th:href="@{/styles/cssandjs/login.css}">

</head>
<body>
	<img class="wave" th:src="@{/images/wave.png}">
	<div class="container">
		<div class="img">
			<img
				style="width: 150px; position: absolute; top: 1rem; left: 1.5rem;"
				th:src="@{/images/prince.png}"> 
				<img th:src="@{/images/bg.svg}">
		</div>
		<div class="login-content">
		<div>
			<div th:text="${message}" style=" text-align: center; float:left; margin-bottom: 2rem; color: #eb3349"></div>
			<form data-toggle="validator" action="#" th:action="@{/request-password-reset}" method="post" th:object="${resetPassword}">
				<h2 style ="font-size: 2rem;"class="title">First, let's find your account</h2>
				<p style="text-align: left;font-size: 1rem; padding: 15px 0;">Please enter your email</p>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-envelope"></i>
           		   </div>
           		   <div class="div">
    					<h5>Email*</h5>
           		   		<input type="email" class="input" name="email" th:field="*{email}"  required>
           		   </div>
           		</div>
           		
           		<div>
           		<input type="button" class="btn cancel-btn" value="Cancle" th:onclick="|window.location.href='/login'|" style="margin-top: 1.8rem;">
            	<input type="submit" class="btn findaccount-btn" value="Find account" style="margin-top: 1.8rem;">
           		</div>
     
            </form>
            </div>
        </div>	
    </div>
     <script type="text/javascript" th:src="@{/js/cssandjs/login.js}"></script>
</body>
</html>