<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
	<title>Prince-đặt lại mật khẩu</title>
<link
	href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap"
	rel="stylesheet">
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
	rel="stylesheet" type="text/css" />
<link rel="icon" type="image/png" sizes="96x96"
	th:href="@{/images/favicon-96x96.png}">
<link rel="manifest" th:href="@{/images/manifest.json}">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage"
	th:content="@{/images/ms-icon-144x144.png}">
<meta name="theme-color" content="#ffffff">
<link rel="stylesheet" type="text/css"
	th:href="@{/styles/cssandjs/login.css}">
</head>
<body>
	<img class="wave" th:src="@{/images/wave.png}">
	<div class="container">
		<div class="img">
			<img
				style="width: 150px; position: absolute; top: 1rem; left: 1.5rem;"
				th:src="@{/images/prince.png}"> <img
				th:src="@{/images/bg.svg}">
		</div>
		<div class="login-content">
			<form data-toggle="validator" action="#" th:action="@{/reset-password}" th:object="${resetPassword}" method = "post">
				<h2 style ="font-size: 2rem;"class="title">Reset Password</h2>
				<input type="hidden" name="email" th:value="${email}" >
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<h5> New Password</h5>
           		    	<input id="password" type="password" class="input" required/>
            	   </div>
            	</div>
            	<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<h5> Confirm New Password</h5>
           		    	<input id="confirm_password" type="password" class="input" th:field="*{password}" required/>
            	   </div>
            	</div>
            	
            	<a><input id="submit" type="submit" class="btn reset-btn" value="reset"></a>
            	
            </form>
        </div>	
    </div> 
     <script type="text/javascript" th:src="@{/js/cssandjs/login.js}"></script>
</body>
</html>